/* This coding places a box in the entire webpage for everything to be stored in */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
 /*This coding sets a background color for the webpage*/
body {
    background-color: #d9dcd6;
}
/*This coding sets a font and color for the header section*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
  /*This coding changes the display and size of the "Horiseon" text in header-h1*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*This coding changes the color for the "seo" section of "Horiseon" that is located in header-h1*/
.header h1 #seo {
    color: #d9dcd6;
}
/*This coding chanhes the placement and font/size of the links in header-div*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*this code dictates the type of list that header-div-ul will be*/
.header div ul {
    list-style-type: none;
}
/*This coding dictates the seperation between the hyperlinks on the webpage as well as the style that they are ordered in*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/*This coding dictates the color of the hyperlinks on the webpage*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*This coding dictates the size of the text in the article-section*/
p {
    font-size: 16px;
}
/*This dictates the properties of the image between the header and the secition paragraphs*/
#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*This class forces the image to go to the left of the containter*/
.float-left {
    float: left;
    margin-right: 25px;
}
/*This id code forces the image to got to the right of the container*/
#float-right {
    float: right;
    margin-left: 25px;
}
/*This coding is for the container in which the article-sections of the html reside in*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*This coding contains the properties for the container and images and text on the right of the webpage*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*This coding contains properties for the articles' text and images on the center of the webpage*/
.article-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.article-section img{
    max-height: 200px;
}

.article-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*This coding contains properties for the text and container on the bottom of the page*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
